
  <button mat-button (click)="redirectToAddNewPage()">
    Add New
  </button>
  <table mat-table style="width: 100%; margin-top: 1em;" class="mat-elevation-z8" [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i}}</td>
      </ng-container>
  
    <ng-container matColumnDef="holderName">
        <th mat-header-cell *matHeaderCellDef >Name</th>
        <td mat-cell *matCellDef="let organisationData">{{organisationData.holderName}}</td>
    </ng-container>

    <ng-container matColumnDef="organisation">
        <th mat-header-cell *matHeaderCellDef>Organisation</th>
        <td mat-cell *matCellDef="let organisationData">{{organisationData.organisation}}</td>
    </ng-container>

    <ng-container matColumnDef="organisationUnit">
        <th mat-header-cell *matHeaderCellDef>Organisation Unit</th>
        <td mat-cell *matCellDef="let organisationData">{{organisationData.organisationUnit}}</td>
    </ng-container>

    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let organisationData">{{organisationData.country}}</td>
    </ng-container>

    <ng-container matColumnDef="uniqueIdentifier">
        <th mat-header-cell *matHeaderCellDef>Unique Identifier</th>
        <td mat-cell *matCellDef="let organisationData">{{organisationData.uniqueIdentifier}}</td>
    </ng-container>
  
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Disable </th>
      <td mat-cell *matCellDef="let organisationData">
        <button mat-icon-button *ngIf="organisationData.active" color="warn" (click)="disable(organisationData.id)">
            <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
  
  </table>