<mat-toolbar color="blue">
  <mat-toolbar-row class="ts-u-display--flex ts-u-justify--space-between">
    <span>
      <button mat-button routerLink="fruit"> Fruit </button>
      <span *ngIf="isUserLoggedIn === false">
        <button mat-button routerLink="register"> Register </button>
        <button mat-button routerLink="login"> Login </button>
        <!-- <button mat-button routerLink="fruit"> Fruit </button> -->
      </span>
      <span *ngIf="isUserLoggedIn">
        <!-- <button mat-button routerLink="fruit"> Fruit </button> -->
        <button *ngIf="isAdmin" mat-button routerLink="/"> Add Fruit </button>
        <button *ngIf="isUser" mat-button routerLink="/"> Get Fruit Suggestion </button>
        <button mat-button (click)="logout()">Log Out</button>
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>