
  <table mat-table style="width: 100%; margin-top: 1em;" class="mat-elevation-z8" [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="Index">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
      </ng-container>
  
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef >Name</th>
        <td mat-cell *matCellDef="let fruit">{{fruit.name}}</td>
    </ng-container>

  
    <ng-container matColumnDef="Details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let fruit">
        <button mat-raised-button color="primary" routerLink="details/{{fruit.id}}">
            Details
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
  
  </table>