<div class="medium-list" *ngIf="certifactFormGroup">
    <div class="list-viewer-wrapper">
      <form [formGroup]="certifactFormGroup" (ngSubmit)="certifactFormGroup.valid && onFormSubmit()" novalidate>
        <div class="form-container">
          <mat-form-field>
            <input id="holderName"
                    matInput
                    formControlName="holderName"
                    placeholder="Enter holder name" />
          </mat-form-field> 

          <mat-form-field>
            <input id="organisation"
                   matInput
                   formControlName="organisation"
                   placeholder="Enter organisation" />
          </mat-form-field>
  
          <mat-form-field>
            <input id="organisationUnit"
                   matInput
                   formControlName="organisationUnit"
                   placeholder="Enter organisation unit" />
          </mat-form-field>

          <mat-form-field>
            <input id="country"
                   matInput
                   formControlName="country"
                   placeholder="Enter country" />
          </mat-form-field>

          <mat-form-field>
            <input id="uniqueIdentifier"
                   matInput
                   formControlName="uniqueIdentifier"
                   placeholder="Enter unique identifier" />
          </mat-form-field>

          <mat-form-field>
            <input id="holderMail"
                   matInput
                   formControlName="holderMail"
                   placeholder="Enter holder mail" />
          </mat-form-field>

          <button mat-button type="submit" 
                  class="mat-raised-button mat-primary" 
                  [disabled]="!certifactFormGroup.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>